<div class="card">
    <div class="card-header"><b>Tasks of the week</b></div>
    <div style="overflow: auto">
        <table class="table table-bordered calendar mb-0">
            <thead>
                <tr>
                    {% for date in dates %}
                        <td class="calendar-header">
                            {% if date.format('Y-m-d') == now.format('Y-m-d') %}
                                <strong>{{ date ? date|date('d F Y') : '' }}</strong>
                            {% else %}
                                {{ date ? date|date('d F Y') : '' }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for date in dates %}
                        <td class="{{ date.format('m') != result.month.format('m') ? 'muted' : '' }}">
                            <div class="day">
                                {% set day = date.format('Y-m-d') %}

                                {% for item in result.items %}

                                    {% set is_date = false %}
                                    {% set is_plan_date = false %}
                                    {% set is_start_date = false %}
                                    {% set is_end_date = false %}
                                    {% set found = false %}

                                    {% if item.date == day %}
                                        {% set is_date = true %}
                                        {% set found = true %}
                                    {% endif %}
                                    {% if item.plan_date == day %}
                                        {% set is_plan_date = true %}
                                        {% set found = true %}
                                    {% endif %}
                                    {% if item.start_date == day %}
                                        {% set is_start_date = true %}
                                        {% set found = true %}
                                    {% endif %}
                                    {% if item.end_date == day %}
                                        {% set is_end_date = true %}
                                        {% set found = true %}
                                    {% endif %}

                                    {% if found %}
                                        {% set url = path('work.projects.tasks.show', {'id': item.id}) %}
                                        <div class="item">
                                            <div class="header">
                                                {% if is_date %}
                                                    <span class="fa fa-plus text-warning" title="Created"></span>
                                                {% endif %}
                                                {% if is_plan_date %}
                                                    <span class="fa fa-calendar text-danger" title="Planned"></span>
                                                {% endif %}
                                                {% if is_start_date %}
                                                    <span class="fa fa-play text-primary" title="Started"></span>
                                                {% endif %}
                                                {% if is_end_date %}
                                                    <span class="fa fa-stop text-success" title="Ended"></span>
                                                {% endif %}
                                                <span class="pull-right">
                                                    <a href="{{ url }}" class="text-block-50">#{{ item.id }}</a>
                                                </span>
                                            </div>
                                            <div class="link">
                                                <a href="{{ url }}">{{ item.name }}</a>
                                            </div>
                                        </div>
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
</div>
