{% set menu = knp_menu_get('work_projects_task_presets', [], {
    'project_id': project ? project.id : null,
    'route_params': app.request.attributes.get('_route_params')|merge(app.request.query.all)
}) %}
{{ knp_menu_render(menu, {'currentClass': 'active'}) }}
