{% extends 'base.html.twig' %}

{% block title %}Create{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.show', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.tasks', {'project_id': project.id}) }}">Tasks</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.tasks.show', {'id': task.id}) }}">{{ task.name }}</a></li>
        <li class="breadcrumb-item active">Files</li>
    </ol>
{% endblock %}

{% block body %}

    <h2 class="mt-0 mb-3 font-xl">
        {% if task.parent %}
            <a href="{{ path('work.projects.tasks.show', {'id': task.parent.id}) }}">
                {{ task.parent.name }}
            </a> /
        {% endif %}
        {{ task.name }}
    </h2>

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">
                    Upload
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
