<ul class="nav nav-tabs mb-4">
    <li class="nav-item">
        <a href="{{ path('work.members') }}" class="nav-link">
            Members
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('work.members.groups') }}" class="nav-link active">
            Groups
        </a>
    </li>
</ul>
