{% extends 'mail.html.twig' %}

{% block body %}

    <p>Hello, {{ author.name.first }}!</p>

    <p>Your task &laquo;{{ task.name }}&raquo; has been assigned to executor {{ executor.name.full }}:</p>

    {% set url = url('work.projects.tasks.show', {'id': task.id}) %}

    <p><a href="{{ url }}">{{ url }}</a></p>

{% endblock %}
