{% extends 'base.html.twig' %}

{% block breadcrumbs %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Home</a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ path('profile') }}">Profile</a>
    </li>
    <li class="breadcrumb-item active">
        Name
    </li>
</ol>
{% endblock %}

{% block body %}
    <div class="card">
        <card-body>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-success">Set Name</button>
            {{ form_end(form) }}
        </card-body>
    </div>
{% endblock %}
