<a href="{{ path('work.members.show', {'id': action.actor_id}) }}">
    {{ action.actor_name }}
</a>

{% if action.set_project_id and action.set_name %}
    created &laquo;{{ action.set_name }}&raquo;
    in&nbsp;
    <a href="{{ path('work.projects.project.show', {'id': action.set_project_id}) }}">
        {{ action.set_project_name }}
    </a>
    as a {{ work_projects_task_type(action.set_type) }}
    with&nbsp;priority&nbsp;{{ work_projects_task_priority(action.set_priority) }}
{% endif %}

{% if action.set_name and not action.set_project_id %}
    renamed to &laquo;{{ action.set_name }}&raquo;
{% endif %}

{% if action.set_content and not action.set_project_id %}
    edited content
{% endif %}

{% if action.set_executor_id %}
    assigned to <a href="{{ path('work.members.show', {'id': action.set_executor_id}) }}">
        {{ action.set_executor_name }}
    </a>
{% endif %}

{% if action.set_revoked_executor_id %}
    assigned to <a href="{{ path('work.members.show', {'id': action.set_revoked_executor_id}) }}">
        {{ action.set_revoked_executor_name }}
    </a>
{% endif %}

{% if action.set_file_id %}
    added file
{% endif %}

{% if action.set_removed_file_id %}
    removed file
{% endif %}

{% if action.set_project_id and not action.set_name %}
    moved to
    <a href="{{ path('work.projects.project.show', {'id': action.set_project_id}) }}">
        {{ action.set_project_name }}
    </a>
{% endif %}

{% if action.set_parent_id %}
    set as child of <a href="{{ path('work.projects.tasks.show', {'id': action.set_parent_id}) }}">
        #{{ action.set_parent_id }}
    </a>
{% endif %}

{% if action.set_removed_parent %}
    removed parent
{% endif %}

{% if action.set_plan %}
    planned to {{ action.set_plan|date('Y-m-d') }}
{% endif %}

{% if action.set_removed_plan %}
    removed planned date
{% endif %}

{% if action.set_priority and not action.set_project_id %}
    changed priority to {{ work_projects_task_priority(action.set_priority) }}
{% endif %}

{% if action.set_progress %}
    changed progress to {{ action.set_progress }}%
{% endif %}

{% if action.set_status %}
    changed status to {{ work_projects_task_status(action.set_status) }}
{% endif %}

{% if action.set_type and not action.set_project_id %}
    changed type to {{ work_projects_task_type(action.set_type) }}
{% endif %}
