{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Members</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members.show', {'id': member.id}) }}">{{ member.name.full }}</a></li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">
                    Save
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
