{% extends 'base.html.twig' %}

{% block title %}Members{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.members') }}">Members</a></li>
        <li class="breadcrumb-item active">{{ member.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/members/_tabs.html.twig') }}

    <div class="controls">
        <a href="{{ path('work.members.edit', {'id': member.id}) }}" class="btn btn-outline-primary">
            Edit
        </a>
        <a href="{{ path('work.members.move', {'id': member.id}) }}" class="btn btn-outline-info">
            Move
        </a>
        <a href="{{ path('users.show', {'id': member.id}) }}" class="btn btn-outline-primary">
            View User
        </a>
        {% if member.active and member.id.value != app.user.id %}
            <form
                action="{{ path('work.members.archive', {'id': member.id}) }}"
                method="post"
                onsubmit="return confirm('Are you sure?')"
            >
                <input type="hidden" name="token" value="{{ csrf_token('archive') }}">
                <button type="submit" class="btn btn-outline-danger">Archive</button>
            </form>
        {% endif %}
        {% if member.archived %}
            <form
                action="{{ path('work.members.reinstate', {'id': member.id}) }}"
                method="post"
                onsubmit="return confirm('Are you sure?')"
            >
                <input type="hidden" name="token" value="{{ csrf_token('reinstate') }}">
                <button type="submit" class="btn btn-outline-success">Reinstate</button>
            </form>
        {% endif %}
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ member.name.full }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ member.email ? member.email.value : '' }}</td>
                </tr>
                <tr>
                    <th>Group</th>
                    <td>{{ member.group.name }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ member_status(member.status) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if departments %}
        <div class="box">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Project title</th>
                        <th>Department</th>
                    </tr>
                </thead>
                <tbody>
                    {% for department in departments %}
                        <tr>
                            <td>
                                <a href="{{ path('work.projects.project.show', {'id': department.project_id}) }}">
                                    {{ department.project_name }}
                                </a>
                            </td>
                            <td>{{ department.department_name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    {% endif %}

{% endblock %}
