{% extends '@KnpMenu/menu.html.twig' %}

{% block label %}
    {% if item.extra('icon') is not null %}
        <i class="{{ item.extra('icon') }}"></i>
    {% endif %}
    {{ parent() }}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {% if matcher.isCurrent(item) %}
            {% do item.setLinkAttribute(
                'class',
                item.getLinkAttribute('class') ~ ' ' ~ options.currentClass
            ) %}
        {% endif %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block compressed_root %}
    {{ block('root')|spaceless }}
{% endblock %}
