<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %} style="color: #000;">
    <span class="pull-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-sort-alpha-asc"></i>
            {% else %}
                <i class="fa fa-sort-alpha-desc"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-sort" style="color: #d2d6de;"></i>
        {% endif %}
    </span>
    {{ title|raw }}
</a>
