{% extends 'base.html.twig' %}

{% block title %}User creation{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
        <li class="breadcrumb-item active">User creation</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-info">
                    Create
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
