{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('users') }}">Users</a></li>
        <li class="breadcrumb-item active">{{ user.name.full }}</li>
    </ol>
{% endblock %}

{% block body %}

    <div class="controls">
        {% if user.id.value != app.user.id %}
            <a href="{{ path('users.edit', {'id': user.id}) }}" class="btn btn-outline-primary">
                Edit User
            </a>
            <a href="{{ path('users.role', {'id': user.id}) }}" class="btn btn-outline-info">
                Change Role
            </a>
        {% endif %}
        {% if user.wait %}
            <form
                action="{{ path('users.confirm', {'id': user.id}) }}"
                method="post"
                onsubmit="return confirm('Are you sure?')"
            >
                <input type="hidden" name="token" value="{{ csrf_token('confirm') }}">
                <button type="submit" class="btn btn-outline-success">Confirm</button>
            </form>
        {% endif %}
        {% if user.active and user.id.value != app.user.id %}
            <form
                action="{{ path('users.block', {'id': user.id}) }}"
                method="post"
                onsubmit="return confirm('Are you sure?')"
            >
                <input type="hidden" name="token" value="{{ csrf_token('block') }}">
                <button type="submit" class="btn btn-outline-danger">Block</button>
            </form>
        {% endif %}
        {% if user.blocked %}
            <form
                action="{{ path('users.activate', {'id': user.id}) }}"
                method="post"
                onsubmit="return confirm('Are you sure?')"
            >
                <input type="hidden" name="token" value="{{ csrf_token('activate') }}">
                <button type="submit" class="btn btn-outline-success">Activate</button>
            </form>
        {% endif %}
        {% if is_granted('ROLE_WORK_MANAGE_MEMBERS') %}
            {% if member %}
                <a href="{{ path('work.members.show', {'id': member.id}) }}" class="btn btn-primary">
                    View Member
                </a>
            {% else %}
                <a href="{{ path('work.members.create', {'id': user.id}) }}" class="btn btn-info">
                    Create Member
                </a>
            {% endif %}
        {% endif %}
    </div>

    <div class="box">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th>Name</th>
                    <td>{{ user.name.full }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email ? user.email.value : '' }}</td>
                </tr>
                <tr>
                    <th>
                        Created
                    </th>
                    <td>{{ user.date|date('Y-m-d H:i:s') }}</td>
                </tr>
                <tr>
                    <th>Role</th>
                    <td>{{ user_role(user.role.name) }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ user_status(user.status) }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    {% if user.networks %}
        <div class="box">
            <table class="table table-bordered mb-0">
                <tbody>
                    {% for network in user.networks %}
                        <tr>
                            <th>{{ network.network }}</th>
                            <td>{{ network.identity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

{% endblock %}
