{% if type == 'none' %}
    <span class="badge badge-secondary">None</span>
{% elseif type == 'error' %}
    <span class="badge badge-warning">Error</span>
{% elseif type == 'feature' %}
    <span class="badge badge-info">Feature</span>
{% endif %}
