<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="centrifugo-url" content="{{ centrifugo_url }}">
        <meta name="centrifugo-user" content="{{ app.user.id }}">
        <meta name="centrifugo-token" content="{{ centrifugo_token() }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
        <header class="app-header navbar">
            <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="{{ path('home') }}" class="navbar-brand">
                <img class="navbar-brand-full" src="/logo_01.png" width="71" height="51" alt="Pm logo">
                <img class="navbar-brand-minimized" src="/logo.png" width="30" height="30" alt="Pm logo">
            </a>
            <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="nav navbar-nav ml-auto mr-4">
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{ app.user.displayingName }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-header text-center">
                            <strong>Account</strong>
                        </div>
                        <a href="{{ path('profile') }}" class="dropdown-item">
                            <i class="fa fa-user"></i> Profile
                        </a>
                        <a href="{{ path('app_logout') }}" class="dropdown-item">
                            <i class="fa fa-lock"> Logout</i>
                        </a>
                    </div>
                </li>
            </ul>
        </header>
        <div class="app-body">
            <div class="sidebar">
                <nav class="sidebar-nav">
                    {{ knp_menu_render('sidebar', {'currentClass': 'active'}) }}
                </nav>
                <button class="sidebar-minimizer brand-minimizer" type="button"></button>
            </div>
            <main class="main">
                {% block breadcrumbs %}{% endblock %}
                <div class="container-fluid">
                    {% include '_flashes.html.twig' %}
                    {% block body %}{% endblock %}
                </div>
            </main>
        </div>
        <footer class="app-footer">
            <div>
                <span>© {{ "now"|date("Y") }} All rights reserved</span>
            </div>
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
