{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>
        {% if project %}
            <li class="breadcrumb-item">
                <a href="{{ path('work.projects.project.show', {'id': project.id}) }}">
                    {{ project.name }}
                </a>
            </li>
        {% endif %}
        <li class="breadcrumb-item active">Calendar</li>
    </ol>
{% endblock %}

{% block body %}
    {% if project %}
        {% include "app/work/projects/project/_tabs.html.twig" %}
    {% else %}
        {% include "app/work/_tabs.html.twig" %}
    {% endif %}

    <div class="card">
        <div class="card-body pb-1">

            {{ form_start(form) }}

            <div class="row">
                <div class="col-md-2 mb-2 ml-3">{{ form_widget(form.year) }}</div>
                <div class="col-md-2 mb-2">{{ form_widget(form.month) }}</div>
                <div class="col-md-2 mb-2">
                    <button type="submit" class="btn btn-outline-primary">
                        Show
                    </button>
                    <a href="?" class="btn btn-outline-info ml-2">Now</a>
                    <a href="{{
                        path(
                            app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')|merge({'form': {'year': prev.format('Y'), 'month': prev.format('n')}})
                        )
                    }}"
                        class="ml-2"
                    >
                        <span class="fa fa-arrow-left" title="previous"></span>
                    </a>
                    <a href="{{
                        path(
                            app.request.attributes.get('_route'),
                            app.request.attributes.get('_route_params')|merge({'form': {'year': next.format('Y'), 'month': next.format('n')}})
                        )
                    }}"
                        class="ml-1"
                    >
                        <span class="fa fa-arrow-right" title="next"></span>
                    </a>
                </div>
            </div>

            {{ form_end(form) }}

        </div>
    </div>

    <div class="box mb-3">
        <div style="overflow: auto">
            <table class="table table-bordered calendar mb-0">
                {% for chunk in dates|batch(7) %}
                    <thead>
                        <tr>
                            {% for date in chunk %}
                                <td class="calendar-header">
                                    {% if date.format('Y-m-d') == now.format('Y-m-d') %}
                                        <strong>{{ date ? date|date('d F Y') : '' }}</strong>
                                    {% else %}
                                        {{ date ? date|date('d F Y') : '' }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for date in chunk %}
                                <td class="{{ date.format('m') != result.month.format('m') ? 'muted' : '' }}">
                                    <div class="day">
                                        {% set day = date.format('Y-m-d') %}

                                        {% for item in result.items %}

                                            {% set is_date = false %}
                                            {% set is_plan_date = false %}
                                            {% set is_start_date = false %}
                                            {% set is_end_date = false %}
                                            {% set found = false %}

                                            {% if item.date == day %}
                                                {% set is_date = true %}
                                                {% set found = true %}
                                            {% endif %}
                                            {% if item.plan_date == day %}
                                                {% set is_plan_date = true %}
                                                {% set found = true %}
                                            {% endif %}
                                            {% if item.start_date == day %}
                                                {% set is_start_date = true %}
                                                {% set found = true %}
                                            {% endif %}
                                            {% if item.end_date == day %}
                                                {% set is_end_date = true %}
                                                {% set found = true %}
                                            {% endif %}

                                            {% if found %}
                                                {% set url = path('work.projects.tasks.show', {'id': item.id}) %}
                                                <div class="item">
                                                    <div class="header">
                                                        {% if is_date %}
                                                            <span class="fa fa-plus text-warning" title="Created"></span>
                                                        {% endif %}
                                                        {% if is_plan_date %}
                                                            <span class="fa fa-calendar text-danger" title="Planned"></span>
                                                        {% endif %}
                                                        {% if is_start_date %}
                                                            <span class="fa fa-play text-primary" title="Started"></span>
                                                        {% endif %}
                                                        {% if is_end_date %}
                                                            <span class="fa fa-stop text-success" title="Ended"></span>
                                                        {% endif %}
                                                        <span class="pull-right">
                                                            <a href="{{ url }}" class="text-block-50">#{{ item.id }}</a>
                                                        </span>
                                                    </div>
                                                    <div class="link">
                                                        <a href="{{ url }}">{{ item.name }}</a>
                                                    </div>
                                                </div>
                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    </tbody>

                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}
