{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.show', {'id': project.id}) }}">{{ project.name }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.project.settings', {'project_id': project.id}) }}">Settings</a></li>
        <li class="breadcrumb-item active">Members</li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'app/work/projects/project/_tabs.html.twig' %}

    {% include 'app/work/projects/project/settings/_tabs.html.twig' %}

    <div class="controls">
        <a href="{{ path('work.projects.project.settings.members.assign', {'project_id': project.id}) }}"
            class="btn btn-outline-success"
        >
            Assign Member
        </a>
        <a href="{{ path('work.projects.roles') }}"
            class="btn btn-outline-info"
        >
            Roles
        </a>
    </div>

    <div class="box">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Departments</th>
                    <th>Roles</th>
                    <th>Manipulations</th>
                </tr>
            </thead>
            <tbody>
                {% set token = csrf_token('revoke') %}
                {% for membership in memberships %}
                    <tr>
                        <td>
                            <a href="{{ path('work.members.show', {'id': membership.member.id}) }}"
                                target="_blank"
                                class="pull-right"
                            >
                                <span class="fa fa-external-link"></span>
                            </a>
                            {{ membership.member.name.full }}
                        </td>
                        <td>
                            <ul class="list-unstyled my-0">
                                {% for department in membership.departments %}
                                    <li>{{ department.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <ul class="list-unstyled my-0">
                                {% for role in membership.roles %}
                                    <li>{{ role.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <div class="d-flex flex-row">
                                <a href="{{ path('work.projects.project.settings.members.edit', {'project_id': project.id, 'member_id': membership.member.id}) }}"
                                    class="btn btn-sm btn-primary mr-1"
                                >
                                    <span class="fa fa-pencil"></span>
                                </a>
                                <form action="{{ path('work.projects.project.settings.members.revoke', {'project_id': project.id, 'member_id': membership.member.id}) }}"
                                    method="post"
                                    onsubmit="return confirm('Are you sure?')"
                                >
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <button class="btn btn-sm btn-danger">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
