{% extends 'mail.html.twig' %}

{% block body %}

    <p>Link for email changing confirmation:</p>

    {% set url = url('profile.email.confirm', {'token': token}) %}

    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>

{% endblock %}
