{% extends 'mail.html.twig' %}

{% block body %}

    <p>Link for password resetting:</p>

    {% set url = url('auth.reset.reset', {'token': token}) %}

    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>

{% endblock %}
