{% extends 'mail.html.twig' %}

{% block body %}

    <p>Sign up confirmation link:</p>

    {% set url = url('auth.signup.confirm', {'token': token}) %}

    <p>
        <a href="{{ url }}">{{ url }}</a>
    </p>

{% endblock %}
