{% extends "auth.html.twig" %}

{% block title %}Sign Up{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mx-4">
                <div class="card-body p-4">
                    {% include '_flashes.html.twig' %}

                    <h1>Sign Up</h1>

                    <p class="text-muted">Create your account</p>

                    {{ form_start(form) }}

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                            {{ form_widget(form.firstName, {'attr': {'placeholder': 'First Name'}}) }}
                            {{ form_errors(form.firstName) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-user"></i>
                                </span>
                            </div>
                            {{ form_widget(form.lastName, {'attr': {'placeholder': 'Last Name'}}) }}
                            {{ form_errors(form.lastName) }}
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>
                            {{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}
                            {{ form_errors(form.email) }}
                        </div>

                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon-lock"></i>
                                </span>
                            </div>
                            {{ form_widget(form.password, {'attr': {'placeholder': 'Password'}}) }}
                            {{ form_errors(form.password) }}
                        </div>

                        <button type="submit" class="btn btn-block btn-success">
                            Create Account
                        </button>

                    {{ form_end(form) }}
                </div>
                <div class="card-footer p-4">
                    <div class="row">
                        <div class="col-12">
                            <a
                                class="btn btn-block btn-facebook"
                                href="{{ path('oauth.facebook') }}"
                            >
                                <span>facebook</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
