{% if status == 'wait' %}
    <span class="badge badge-secondary">Waiting</span>
{% elseif status == 'active' %}
    <span class="badge badge-success">Active</span>
{% elseif status == 'blocked' %}
    <span class="badge badge-danger">Blocked</span>
{% endif %}
