{% extends 'base.html.twig' %}

{% block title %}Roles{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work') }}">Work</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects') }}">Projects</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.roles') }}">Roles</a></li>
        <li class="breadcrumb-item"><a href="{{ path('work.projects.roles.show', {'id': role.id}) }}">{{ role.name }}</a></li>
        <li class="breadcrumb-item active">Copy</li>
    </ol>
{% endblock %}

{% block body %}

    {{ include('app/work/projects/_tabs.html.twig') }}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-info">
                    Save
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
