{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{{ path('home') }}">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('work') }}">Work</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('work.projects') }}">Projects</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('work.projects.project.show', {'id': project.id}) }}">{{ project.name }}</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{ path('work.projects.project.settings', {'project_id': project.id}) }}">Settings</a>
        </li>
        <li class="breadcrumb-item active">Edit</li>
    </ol>
{% endblock %}

{% block body %}

    {% include 'app/work/projects/project/_tabs.html.twig' %}

    {% include 'app/work/projects/project/settings/_tabs.html.twig' %}

    <div class="card">
        <div class="card-body">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-outline-primary">
                    Save
                </button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
